@font-face {
  font-family: 'gaegu';
  src: url('assets/Gaegu-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    font-family: gaegu;
    background-color: #fffaf0;
  }
  
  .cafeteria {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  
  .image-row {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .clickable-image {
    width: 200px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .clickable-image:hover {
    transform: scale(1.05);
  }
  
  .caption {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
    height: 24px; /* Reserve space for the caption */
  }
  
  .final-message {
    margin-top: 30px;
    font-size: 24px;
    color: #333;
    height: 30px; /* Reserve space for the final message */
  }
  
